.select2-container .select2-selection--single{
    height: 38px !important;
}

.select2-container--default .select2-selection---single .select2-selection__rendered{
    line-height: 39px !important;
}
.select2-container--default .select2-selection---single .select2-selection__arrow{
    line-height: 38px !important;
}

.quantityInput{
    width: 40px !important;
    padding: 6px 3px;
    text-align: center;
    border: 1px solid #cfb1b1;
    outline: 0;
    margin-right: 1px;
}